
<div class="container rounded">
    <div class="p-2 bg-white">
        <h3 class="border-bottom border-secondary text-info">New User</h3>

    </div>
    <div class="p-2 bg-info text-white">
        <h3 class="border-bottom border-secondary">New User</h3>

    </div>
</div>

@code {

}
